.header {
  background-color: #36393e;
  display: flex;
  height: 6%;
  border-bottom: 1px solid #1e2124;
  align-items: center;
}

.header-name{
  margin-left: 20px;
  margin-right: 5px;
  font-size: 22px;
  color: white;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.header-topic {
  padding-left: 12px;
  margin-left: 8px;
  border-left: 1px solid #72767d;
  color: #72767d;
}

.member-toggle {
  margin-left: auto;
  margin-right: 235px;
}

.welcome {
  color: #72767d;
  font-size: 18px; 
  font-weight: normal;
  letter-spacing: normal;
}

.welcome-username{
  color: white;
  font-size: 20px;
  position: relative;
  bottom: 1px;
  margin-left: 3px;
  font-weight: bold;
}