.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*width: 94px !important;*/
  padding: 18px 0px 18px 10px;
  background-color: #1e2124;
  /*max-width: 94px;*/
  min-width: 60px;
  max-width: 60px;
}

.direct-message-link {
  width: 52px;
  height: 52px;
}

.direct-message-button {
  height: 50px;
  width: 50px;
  background-color: #7289da;
  display: flex;
  align-items: center;
  border-radius: 16px;
  -webkit-box-shadow: -2px 3px 3px 0px rgba(0,0,0,0.54);
-moz-box-shadow: -2px 3px 3px 0px rgba(0,0,0,0.54);
box-shadow: -2px 3px 3px 0px rgba(0,0,0,0.54);;
}

.direct-message-button:hover {
  filter: brightness(130%);
}


.fa-user-o {
  color: white;
  border: none;
  text-decoration: none;
  margin: 0 auto;
}

.sidebar-text {
  color: #b9bbbe;
  font-size: 12px;
  text-align: center;
  position: relative;
  right: 6px;
  margin: 4px 0;
  font-weight: 500;
}

.sidebar-control {
  width: 50px;
  height: 6px;
  margin-top: 6px;
  border-top: 1px solid #b9bbbe;

}

.server-index-item {
  width: 50px;
  height: 50px;
  /*text-align: center;*/
}

.server-index-item-wrapper{
  margin-bottom: 7px;
  position: relative;
}

.server-name-highlight {
  position: absolute;
  background-color: #535559;
  height: 10px;
  width: 10px;
  right: 65px;
  top: 20px;
  border-radius: 5px;
}

.selected-server {
  webkit-transition: height .25s ease-in-out,margin-top .25s ease-in-out;
  transition: height .25s ease-in-out,margin-top .25s ease-in-out;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  margin-top: -20px;
  top: 50%;
}

.server-name-tooltip {
 top: 15px;
 left: 56px;
 z-index: 10;
}

#hide {
  display: none;
}

.add-server-button {
  color: white;
  height: 50px;
  width: 50px;
  border: 1px dashed #535559;
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #535559;
  transition: .3s;
  cursor: pointer;
}

.add-server-button:hover {
  filter: brightness(175%);
}


#add-server-plus {
  align-self: center;
  font-size: 42px;
}

img {
  width: 50px;
  height: 50px;
}

