// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: "PT Sans", sans-serif;
  // font-family: 'Lato', sans-serif;
}

.main-app {
  background: none;
}

.tooltip {
  position: absolute;
  white-space: nowrap;
  background-color: #7289da;
  border-radius: 3px;
  color: white;
  padding: 3px 4px;
  font-size: 12px;
}